body {
  background: #333;
  color: #bfbfbf;
  margin:0;
}

.container {
  background: url(./img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 580px;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 800px;
  background: rgba(0,0,0,0.7);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid #008ed6;
  background-color: rgba(51, 51, 51, 0.7);
}

.brand {
  margin-left: 30%; 
  font-family: 'Merriweather', sans-serif;
  font-size: 1.5rem;
  color: #bfbfbf;
}

.nav {
  margin-right: 15%;
  display: flex;
}

.nav li {
  margin-left: 30px;
  list-style-type: none;
}

li a {
  color: #999999;
  text-decoration: none;
}

li a:hover {
  opacity: 50%;
}

@media( max-width: 700px ){
  .navbar {
    flex-direction: column;
  }

  .brand {
    display:block;
    width: 100%;
    text-align: center;
    margin:5px auto 0px auto;
  }

  .nav {
    flex-direction: column;
  }

  .nav li {
    padding: 5px;
  }


}

#home {
  display: grid;
  grid-template-columns: 50vw 30vw;
  grid-gap: 20px;
  position: absolute;
  color: #bfbfbf;
  top: 100px;
  left: 10vw;
  height: 320px;
}

.info h1 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.info-list li {
  list-style-type: none;
  margin-top: 0.9rem;
  margin-bottom: 1.5rem;
}

.auth {
  background-color: #0a6dd6;
  opacity: 70%;
  border-radius: 1%;
  max-width: 305px;
  text-align: center;
  height: 320px;
  padding: 20px 20px 20px 20px;
  margin-right: 1vw;
  color: white;
}

.form {
  height: 100%;
}

.form input {
  padding: 10px;
  margin-bottom: 4px;
  width: 100%;
  border: solid white 0.1rem;
  border-radius: 0.3rem;
  background-color: #fff;
}

.form button {
  padding: 8px;
  margin-top: 4px;
  width: 100%;
  border: solid white 0.1rem;
  border-radius: 0.3rem;
  background-color: #0a6dd6;
  background-image: none;
  color: white;
}

button:hover {
  background-color: white;
  color: black;
}

@media(max-width: 776px) {
  .info {
    display: none;
  }

  #home {
    grid-template-columns: 100%;
    position: absolute;
    right: 10vw;
  }

  .auth {
    margin: auto;
    margin-top: 90px;
  }
}

#explore {
  position: absolute;
  background-color: #333;
  top: 580px;
  width: 100%;
  height: 800px;
}

.explore-head {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 5%;
  color: white;
  font-size: 1.3rem;
}

.explore-head h3 {
  font-size: 2.5rem;
}

.explore-link {
  width: auto;
  min-height: 20px;
  text-decoration: none;
  padding: .3rem;
  border: solid 1px #999999;
  border-radius: 0.5rem;
  color: #999999;
}

#explore a:hover {
  color: white;
  background-color: #5a5858;
}

.explore-body {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5rem;
  background-color: white;
  padding: 7rem;
  padding-top: 5rem;
}

.explore-image img {
  width: 34vw;
  height: 25vw;
  object-fit: cover;
  border-radius: 50%;
}

.explore-list li {
  list-style-type: none;
  margin-top: 0.9rem;
  margin-bottom: 1.5rem;
}

@media( max-width: 803px ) {
  .explore-body {
    grid-template-columns: auto;
    grid-template-rows: auto auto ;
    grid-row-gap: 1rem ;
    padding: 2rem ;
  }

  .explore-image{
    margin: auto;
  }

  .explore-image img {
    height: 60vw;
    width: 60vw;
  }
}

.explore-connect h3 {
  font-size : 2.3rem;
}

.explore-connect {
  font-size: 1.2rem;
}

.footer {
  background-color: #007bff;
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 1rem;
}

.footer h4 {
  font-size: 1.4rem ;
}

.footer p {
  font-size: 1.3rem;
}

.contact {
  width: auto;
  min-height: 20px;
  text-decoration: none;
  padding: .3rem;
  border: solid 1px #04468d;
  border-radius: 0.5rem;
  color: #04468d;
}

.contact:hover {
  background-color: white;
}